// Variables
$baseWidth: 1170px;

// Bootstrap Breakpoints
$breakpointXS: 0;
$breakpointSM: 576px;
$breakpointMD: 768px;
$breakpointLG: 992px;
$breakpointXL: 1200px;

// Colors
$white: #ffffff;
$black: #000000;

// Brand Colors
$brandDark: #232323;
$brandIncome: #61ff00;
$brandBill: #ff0000;
$brandSavings: #00fff6;
$brandDeposit: #ffc107;